<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Routes DD</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Jean Carlos Jantara">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        {% block content %}{% endblock %}
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>